<?xml version="1.0" encoding="UTF-8"?>
<!--type 1: default-lazy-init="true"-->
<!--

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-lazy-init="true">

    <bean id="lazyBean" scope="prototype" class="com.rc.ioc.official.xml.lazy.Bean" />

</beans>
-->

<!-- type 2： lazy-init="true"-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="lazyBean" scope="prototype" class="com.rc.ioc.official.xml.lazy.Bean" lazy-init="true"/>

</beans>