<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--null值注入-->
    <bean id="beanNull" class="com.rc.ioc.official.xml.inject.BeanNull">
        <property name="anotherBean">
            <null/>
        </property>
    </bean>
</beans>